# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/*.egg-info/
.eggs/

# Uploads & data générés à runtime
uploads/
project/app.log
app.log

# Environnement local
.env
.venv/
venv/

# Evaluation
project/evaluation/test_images/
project/evaluation/mlruns/
mlflow.db